/* Header styling */
header {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #028a56;
}

/* Navigasi */
nav ul {
  list-style: none;
  display: flex;
  margin-right: auto; /* Menyebabkan navigasi ada di kiri */
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

/* Efek Highlight saat hover */
nav ul li a:hover {
  color: #028a56;
  text-decoration: underline;
  font-weight: bold;
}

/* Tombol Login */
.auth-buttons {
  margin-left: auto; /* Menyebabkan tombol login ada di kanan */
}

.auth-buttons button {
  background-color: #fff;
  color: #147a63;
  border: 2px solid #147a63;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* Efek Hover pada Tombol Login */
.auth-buttons button:hover {
  background-color: #147a63;
  color: #fff;
  transform: scale(1.05); /* Membuat tombol sedikit membesar */
}
