/* Reset dan Font Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #B31312;
}

/* Header styling */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 15px 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #B31312;
}

/* Navigasi */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #B31312;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #ffc6c6;
  text-decoration: none;
}

/* Tombol Profil */
.auth-buttons {
  margin-left: auto;
}

.auth-buttons button {
  background-color: #B31312;
  color: white;
  border: 2px solid #B31312;
  border-radius: 15px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.auth-buttons button:hover {
  background-color: #ffffff;
  color: #B31312;
}

/* Responsive Design */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
      padding: 10px 20px;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
  }

  .auth-buttons {
      margin-top: 10px;
  }
}
