/* Reset dan dasar styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


/* Tombol Profil */
.about-page-container .auth-buttons {
    margin-left: auto;
}

.about-page-container .auth-buttons button {
    background-color: #B31312; /* Merah Gelap */
    color: #fff; /* Putih */
    border: 2px solid #B31312;
    border-radius: 15px;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
}

.about-page-container .auth-buttons button:hover {
    background-color: #ffc6c6; /* Merah Muda Muda */
    color: #B31312;
}

/* About Page Styling */
.about-page-container section {
    background-color: #fefff0; /* Putih Kekuningan */
    background-image: url('assets/images/bgaboutus.png');
    text-align: center;
    padding: 50px;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-page-container .about-us {
    font-size: 30px;
    font-weight: bold;
    color: #3b3b3b; /* Abu-abu Gelap */
    margin-bottom: 20px;
}

.about-page-container .content-aboutus {
    font-size: 20px;
    line-height: 1.3;
    color: #666; /* Abu-abu Sedang */
    text-align: justify;
    max-width: 750px;
    margin-bottom: 20px;
}

.about-page-container .content-welcome {
    font-size: 20px;
    color: #666; /* Abu-abu Sedang */
    margin-top: 10px;
}

.about-page-container h1 {
    color: #3b3b3b; /* Abu-abu Gelap */
}


/* Thicker Footer Separator Line */
.about-page-container .footer-separator {
    width: 100%;
    height: 10px;
    background-color: #B31312; /* Merah Gelap */
}